<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <base href="{{ base }}"/>
    {% if description %}
        <meta name="description" content="{{ description }}"/>
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}"/>
    {% endif %}
    <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
    <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="catalog/view/theme/zoo/javascript/jquery.mmenu.all.js" type="text/javascript"></script>
    <script src="catalog/view/theme/zoo/javascript/main.min.js" type="text/javascript"></script>

    <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="catalog/view/theme/zoo/stylesheet/hamburgers.min.css" rel="stylesheet">
    <link href="catalog/view/theme/zoo/stylesheet/jquery.mmenu.all.css" rel="stylesheet">
    <link href="catalog/view/theme/zoo/stylesheet/main.min.css" rel="stylesheet">
    {% for style in styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
    {% endfor %}
    {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}
    <script src="catalog/view/javascript/common.js" type="text/javascript"></script>
    {% for link in links %}
        <link href="{{ link.href }}" rel="{{ link.rel }}"/>
    {% endfor %}
    {% for analytic in analytics %}
        {{ analytic }}
    {% endfor %}
</head>
<body>
<div class="header" id="top">
    <div class="header__wrap">
        <button class="hamburger hamburger--collapse col-xs-2" id="mmenu-icon" type="button"><span
                    class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        <nav class="header__menu nav" id="my-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="#" class="nav__link">Условия сотрудничества</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Договор поставки</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Доставка</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Оплата</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Частые вопросы</a></li>
            </ul>
        </nav>
        <div class="header__account">
            <div class="dropdown">
                <a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle"
                   data-toggle="dropdown"><i class="fa fa-user-circle-o"></i> <span
                            class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span> <span
                            class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    {% if logged %}
                        <li><a href="{{ account }}">{{ text_account }}</a></li>
                        <li><a href="{{ order }}">{{ text_order }}</a></li>
                        <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
                        <li><a href="{{ download }}">{{ text_download }}</a></li>
                        <li><a href="{{ logout }}">{{ text_logout }}</a></li>
                    {% else %}
                        <li><a href="{{ register }}">{{ text_register }}</a></li>
                        <li><a href="{{ login }}">{{ text_login }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<header class="head">
    <div class="head__wrap">
        <div class="head__logo">
            <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}"
                                                                  alt="{{ name }}" class="img-responsive"/>
                    </a>{% else %}
                    <h1><a href="{{ home }}">{{ name }}</a></h1>
                {% endif %}</div>
        </div>
        <div class="head__info">
            <div class="head__email">
                <i class="fa fa-envelope-o head__icon" aria-hidden="true"></i>
                <span class="head__text">info@zooshop.ru</span>
            </div>
            <div class="head__phone">
                <i class="fa fa-phone head__icon" aria-hidden="true"></i>
                <span class="head__text">{{ telephone }}</span>
            </div>
            <div class="head__schedule">
                <i class="fa fa-clock-o head__icon" aria-hidden="true"></i>
                <span class="head__text">Пн-Пт, с 9:00 до 18:00</span>
            </div>
        </div>
        <div class="head__cart">
            {{ cart }}
        </div>
    </div>
</header>