{{ header }}
<div id="common-home" class="container">
    <div class="row">
        {{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">
            {{ content_top }}
            <div class="category">
                {% for category in categories %}
                    <a href="{{ category.href }}" class="category__item">
                        <div class="category__title">{{ category.name }}</div>
                        <div class="category__picture">
                            <img src="image/{{ category.image }}" alt="{{ category.name }}" class="category__img">
                        </div>
                    </a>
                {% endfor %}
            </div>
            {{ content_bottom }}
        </div>
        {{ column_right }}
    </div>
</div>
{{ footer }}